h1{

    text-align: center;
    color: red;
}

#plateau{
    border: 3px blue  outset;
    background-color: blue;
}


.cellule{
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border: 2px blue inset;
    border-radius: 2cm;
    background-color: white;

}

#launch {
    background-color: yellow;

}
.depart {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border:solid 2px black ;
    border-radius: 2cm;
}



.dropzone {
    margin-bottom: 2em;
}
.dropzone td {
    border: solid black 1px;
    height: 50px;
    width: 50px;
}

.dropzone td:hover {
    cursor: pointer;
}

.puissance4 td {
    border: solid black 1px;
    height: 50px;
    width: 50px;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

.player3 {
    background-color: green;
}
